* {
  font-family: "Red Hat Display", sans-serif;
}
body {
  background: rgba(232, 239, 243, 1) no-repeat;
  background-size: 100%;
}
.account {
  text-align: center;
}
.input1 {
  padding-left: 23px;
}
.input2 {
  padding-left: 32px;
}
.input3 {
  padding-left: 43px;
}
.input4 {
  padding-left: 2px;
}
.input5 {
  padding-left: 6px;
}
#input6 {
  padding-left: 10px;
}
a button {
  padding: 10px;
  color: white;
  background: rgba(18, 125, 203, 1);
  border-radius: 15px;
}
form {
  font-size: 20px;
}
