.auth {
  height: 100vh;
}

body {
  background: #eee;
  /* background: rgba(18, 125, 203, 1); */
  overflow-x: hidden;
}
nav {
  background: rgba(190, 206, 218, 1);
  margin-top: 0;
  padding: 1% 2%;
  overflow: hidden;
}
nav span {
  padding: 10px;
}
.form-sec {
  padding: 7% 8%;
}
.form-sec h1 {
  font-size: 70px;
  font-weight: bolder;
}
.form-sec .h1 {
  padding-left: 12%;
}
.form-sec h6 {
  font-size: 20px;
}
.form-sec .h2 {
  text-decoration: underline;
}
.custom {
  padding: 0 8%;
  width: 100%;
  overflow: hidden;
}
.custom h3 {
  padding: 10px 5px;
  background: rgba(18, 125, 203, 1);
  color: white;
  width: 40%;
}

.custom-1 {
  width: 20%;
  font-weight: bolder;
  font-size: 20px;
}
.custom-2 {
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-around;
  font-size: 13px;
}
.custom-3 {
  width: 40%;
}
.work {
  padding: 10% 8%;
  overflow: hidden;
}
.work-sec {
  width: 40%;
}
.work-img {
  width: 50%;
}
.work-img img {
  width: 100%;
  height: auto;
}
.footer {
  padding: 4% 8% 2% 8%;
  background: rgba(190, 206, 218, 1);
  color: white;
  overflow: hidden;
}
.yogo img {
  color: green;
}
@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
    margin-right: 10px;
  }
  .navspan {
    padding: 10px 0 10px 0;
  }
  .form-sec {
    margin-top: 30px;
  }
  .form-sec h1 {
    font-size: 2em;
  }
  .form-sec h6 {
    font-size: 0.5em;
  }

  .custom-1 {
    width: 80%;
    padding-top: 30px;
    font-size: 1em;
  }
  .custom-sec {
    flex-direction: column-reverse;
    height: auto;
  }
  .custom h3 {
    margin-top: 35px;
    width: 70%;
  }
  .work {
    flex-direction: column-reverse;
    padding-top: 55px;
  }
  .work-sec {
    width: 80%;
  }
  .work-sec h1 {
    font-size: 1.3em;
  }
  .footer {
    flex-direction: column-reverse;
    height: auto;
    margin-top: 80px;
  }
}
