* {
  font-family: "IBM Plex Mono", monospace;
}
body {
  background: #eee;
  margin: 0;
  background: rgba(18, 125, 203, 1);
}
.homepage {
  width: 100%;
  max-width: 1400px;
  margin: 0;
  text-align: center;
}
.goal {
  width: 100%;
  height: 680px;
  background: url(../images/hompg.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  margin-top: 30px;
  text-align: left;
}
.our-goal {
  align-content: left;
  padding-top: 130px;
  width: 30%;
  padding-left: 100px;
  text-align: left;
}
nav {
  background: rgba(190, 206, 218, 1);
  margin-top: 0;
  padding: 10px;
}
.bank {
  margin-bottom: 10px;
  font-size: larger;
  font-weight: bold;
}
.home {
  margin-top: 10px;
}
.home a {
  padding: 10px;
  text-decoration: none;
}
nav span img {
  width: 30px;
  height: auto;
  margin-top: 20px;
}
.prof {
  margin-top: 10px;
}
.hompg img {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  /* .body {
    background: rgb(102, 138, 161), rgb(163, 6, 6);
    background-size: 50%, 50%;
    background-position: left top, right bottom;
    object-fit: contain;
    background-repeat: no-repeat, no-repeat;
  } */
  nav {
    display: flex;
    justify-content: space-between;
  }
  .goal p {
    font-style: italic;
    font-size: 100;
  }
}
@media screen and (max-width: 768px) {
  .goal p {
    font-style: italic;
    font-size: 50;
  }
}
