.login {
  /* height: 400px; */
  height: 100vh;
}

.login nav {
  position: absolute;
  top: 0;
  padding: 20px;
}

.form-sec {
  width: 90%;
  max-width: 900px;
  height: 45vh;
  min-height: 450px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 100px 10px rgba(18, 125, 203, 0.4);
}

.form-sec .form {
  width: 40%;
  padding: 20px 30px;
}

.form-sec .form .input-sec {
  width: 100%;
  margin-bottom: 20px;
}

.form-sec .form label {
  font-size: 0.75em;
}

.form-sec .form .btn {
  margin-top: 10px;
}

.form-sec .form .remember {
  justify-content: flex-end;
}

.form-sec .form .remember {
  justify-content: flex-end;
}

.form-sec .form .remember a {
  font-size: 0.7em;
}

.form-sec .welcome {
  background: url(../images/bg8.jpg) no-repeat;
  flex-grow: 1;
  padding: 0 20px;
  padding-bottom: 70px;
  justify-content: flex-end;
}

.form-sec .welcome h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.form-sec .welcome .text {
  color: white;
}
