* {
  font-family: "IBM Plex Mono", monospace;
}

body {
  background: white;
  margin: 0;
  align-items: center;
  text-align: center;
}
.login {
  text-align: center;
}
.body {
  width: 100%;
  max-width: 1400px;
  text-align: center;
}
nav li {
  list-style-type: none;
}
.form {
  color: #333;
}

/* .login {
  height: 500px;
}
.welcome {
  top: 50%;
} */
/* .form {
  text-align: left;
} */
.welcome {
  text-align: center;
}
nav {
  text-align: center;
  margin-top: 15px;
}
.remember {
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  /* .body {
    background: white, rgba(232, 239, 243, 1);
    background-size: 50%, 50%;
    background-position: left, right;
    object-fit: contain;
    background-repeat: no-repeat, no-repeat;
  } */
  #bigbang {
    text-align: center;
  }
  .body {
    display: flex;
    justify-content: center;
  }
  .login {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 900px;
    text-align: center;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.2);
    border-collapse: collapse;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .form {
    background: white no-repeat;
    justify-content: center;
    width: 40%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .welcome {
    text-align: left;
    justify-content: center;
    padding-top: 160px;
    padding-left: 40px;
    background: url(../images/bg8.jpg) no-repeat;
    background-position: center;
    width: 60%;
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  nav li {
    padding-right: 80%;
    padding-top: 30px;
    margin-top: 0px;
  }
  .acct {
    padding-left: 5%;
    padding-right: 13%;
  }
  .sign {
    padding-top: 20%;
  }
  .password {
    padding-top: 10px;
  }
}
@media screen and (max-width: 750px) {
  body {
    background: url(../images/bg8.jpg) no-repeat;
  }
}
